<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Sobre mim - BlogeX</title>
  <link rel="icon" type="image/jpeg" sizes="1900x1501" href="../static/img/about-bg.jpg"
        th:href="@{/img/about-bg.jpg}">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
        th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="../static/fonts/font-awesome.min.css"
        th:href="@{/fonts/font-awesome.min.css}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand" href="/">MURILONERDX</a>
    <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
        class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about">Sobre mim</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead"
        style="background-image:url('../static/img/about-bg.jpg');" th:href="@{/img/about-bg.jpg}">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto position-relative">
        <div class="site-heading">
          <h1>Sobre mim</h1><span class="subheading">Introdução sobre mim</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <p>Olá meu nome é Murilo, tenho 20 anos, tenho varios projetos e uma paixão gigantesca por
        Java, amo desafios e algoritmos, desde pequeno programo, desde os meus 14 anos eu estou
        estudando, programando, tudo começou com C#, depois Python, depois C++, e finalmente
        Java.</p>
      <p>Abaixo vai algumas habilidades que tenho, com os projetos desenvolvidos, cursos e
        certificações.</p>
      <ul>Análise de Sistemas e Prototipação Web</ul>
      <ul> Desenvolvimento e Designer Web 2.0</ul>
      <ul> Desenvolvimento de Aplicações Móveis</ul>
      <ul> Empreendedorismo Digital e Gestão de Tecnologia da</ul>
      <ul> Algoritmos: aprenda a programar</ul>
      <ul> Responsive Web Development</ul>
      <ul> Desenvolvimento Java Basico e Avançado</ul>
      <ul> Java Completo Programação Orientada a Objetos</ul>
      <ul> Introdução prática a computação em nuvem usando AWS</ul>
      <ul> Estrutura de Dados e Algoritmos</ul>
      <ul> JSF, Spring Boot, Spring MVC, JPA E JDBC, Primefaces,</ul>
      <ul> REST/RESTful, Padrões de Projeto Java ... +8</ul>
      <hr>
      <p>Algumas outras habilidades</p>
      <p>Modelar sistemas utilizando Análise Orientada a Objetos e melhores práticas de
        desenvolvimento (UML, XP, Scrum).</p>
      <p>Construir projetos de aplicações sob medida (distribuída, web e mobile) aplicando Design
        Thinking & Propotyping
        para um cliente real e atualizando sistemas já existentes. </p>
      <p>HTML 5, CSS 3, Javascript, AngularJS, JQuery, Bootstrap e
        Java EE: Servlets, JSPs, JSTL e EL. </p>
      <p>Desenvolver aplicações utilizando as principais ferramentas e linguagens de
        programação, interagindo com bancos de dados padrão SQL (Oracle), Big Data & Analytics e com
        as interfaces do
        sistema (camadas MVC).</p>
      <p> Criar aplicações com os principais frameworks de mercado das plataformas Java e .Net
        (JPA, Hibernate, EJB, WEB API e Entity Framework).</p>
      <p> Negócios digitais desenvolvendo aplicações com JSF, Spring, web
        services e cloud computing (IBM Cloud), tecnologia WebServices e RESTful (JAX-WS, JAX-RS,
        XML, JSON). </p>
    </div>
  </div>
</div>
<hr>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <a class="list-inline-item" th:target="_blank" href="https://twitter.com/corujasdeatena" th:href="@{https://twitter.com/corujasdeatena}"><span class="fa-stack fa-lg"><i
              class="fa fa-circle fa-stack-2x"></i><i
              class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
          <a class="list-inline-item" th:target="_blank" href="https://www.instagram.com/murilonerdx/" th:href="@{https://www.instagram.com/murilonerdx/}"><span class="fa-stack fa-lg"><i
              class="fa fa-circle fa-stack-2x"></i><i
              class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a>
          <a class="list-inline-item" target="_blank" href="https://github.com/murilonerdx/" th:href="@{https://github.com/murilonerdx/}"><span class="fa-stack fa-lg"><i
              class="fa fa-circle fa-stack-2x"></i><i
              class="fa fa-github fa-stack-1x fa-inverse"></i></span></a>
        </ul>
        <p class="text-muted copyright">Copyright&nbsp;© Murilonerdx</p>
      </div>
    </div>
  </div>
</footer>
<script src="../static/bootstrap/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/clean-blog.js" th:href="@{/js/clean-blog.js}"></script>
</body>

</html>